<mat-toolbar class="mattoolbar" fxLayoutAlign="center center" >
    <mat-toolbar-row>
        <div class="imgandtext"  fxLayout="row" fxLayout.xs="row" (click)="bookstore()">
            <div>
                <img class="book" src="../../../assets/img/education.png" alt="">
            </div>
            <div class="text">
                <h2>Bookstore</h2>
            </div>

        </div>

        <mat-card class="searchbar" fxLayout="row" fxLayout.xs="row" fxHide.sm fxHide.xs>
            <mat-icon class="searchimg" matTooltip="Search">search</mat-icon>

            <input class="search1" (keyup)="searchword($event)" type="text" name="search" placeholder="Search" #search
                 fxHide.xs fxHide.sm>
            
        </mat-card>

        <div class="profile" [matMenuTriggerFor]="menu" fxLayout="column" fxLayoutAlign="center center"
            fxLayout.xs="row" fxFlex.xs="50">
            <img class="profileimg" src="../../../assets/img/person.png" alt="">
            <p fxHide.sm fxHide.xs>Profile</p>

            <mat-menu class="matmenu" #menu="matMenu">
                <div fxLayout="column" fxLayoutGap="3px">
                    <h3 class="welcometext">Welcome,suraj Kumar</h3>
                    <!-- <h5 class="logouttext">To Logout account</h5> -->
                </div>

                <button (click)="Logout()" class="logoutbutton" mat-menu-item>
                    Log Out
                </button>
                <button class="wishlistbutton"  mat-menu-item fxLayoutGap="0px">
                    <mat-icon class="wishlistIcon">favorite</mat-icon>
                    Wishlist
                </button>

            </mat-menu>
        </div>

        <div class="cart"  fxLayout="column" fxLayoutAlign="center center" fxLayout.xs="row"
            fxFlex.xs="50" >

            <button class="button" style="background-color: darkred; border: none; cursor: pointer;" 
                matBadgeSize="small" matBadgePosition="after" matBadgeColor="warn" routerLink="/dashboard/cart">
                <img class="cartimg" src="../../../assets/img/shopping_cart_white_24dp.svg" alt="">
            </button>
            <p fxHide.sm fxHide.xs style="margin-top:-10px;">Cart</p>

        </div>

    </mat-toolbar-row>
</mat-toolbar>
<div>
    <router-outlet></router-outlet>
</div>
