<div class="section" fxLayout="column">

    <mat-card class="wishlist" fxLayoutAlign="start center">
        <span>My Wishlist </span>
    </mat-card>

    <mat-card class="book" fxLayout="row" fxLayoutAlign="start center" *ngFor="let book of wishlistitem">

        <div fxLayout="column" fxLayoutGap="20px">
            <div class="cartbook" fxLayout="row" fxLayoutAlign="start center">

                <div>
                    <div class="image" fxLayoutAlign="start center">
                        <img class="bookImage" src="../../../assets/img/dontmakeme.png">
                    </div>
                </div>

                <div class="entirebook" fxLayout="column" fxLayout.sm="column">

                    <div class="bookname">
                        {{book.bookName}}
                    </div>
                    <div class="author">
                        by {{book.author}}
                    </div>
                    <div class="price" fxLayout="row" fxLayoutGap="10px">
                        <div class="discountprice">
                            Rs.{{book.discountPrice}}
                        </div>
                        <div class="originalprice">
                            <del> Rs.{{book.price}} </del>
                        </div>
                    </div>

                </div>


            </div>

        </div>

        <div class="rightdiv" fxLayout="column" fxLayoutAlign="end center">

            <img class="deleteimg" (click)="removewishlistitem(book)"  src="../../../assets/img/deleted.png">

        </div>
    </mat-card>
</div>
