<div class="section" fxLayout="column">
    <div class="placeorder">
        <img class="orderimg" src="../../../assets/img/placeOrder (1).png" alt="">
    </div>
    <div>
        <p>
            hurray!!! your order is confirmed<br> the order id is #123456 save the order id for<br> further
            communication..
        </p>
    </div>
    <div>
        <table style="width:70%; margin-left: 210px;">
            <tr fxLayoutGap="0px">
                <th style="text-align:center">Email</th>
                <th style="text-align:center">Contact us</th>
                <th style="text-align:center">Address</th>
                
            </tr>

            <td style="text-align:center">soorajkrpandit@gmail.com</td>
           
            <td style="text-align:center">+91 6200749278</td>
           
            <td style="text-align:center">42, 14th Main, 15th Cross, Sector4, opp to BDA<br>complex, near kumarakom
                restaurant, HSR Layout.</td>


        </table>
    </div>
    <div>
        <button mat-flat-button class="continuebutton" color="primary" (click)="continue()">Continue shopping</button>
    </div>
</div>